<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.zstu.dao.DetectTaskInfoMapper" >
  <resultMap id="BaseResultMap" type="edu.zstu.domain.DetectTaskInfo" >
    <id column="DetectTaskId" property="detectTaskId" jdbcType="INTEGER" />
    <result column="DetectTaskDescribe" property="detectTaskDescribe" jdbcType="VARCHAR" />
    <result column="DetectTaskDomain" property="detectTaskDomain" jdbcType="VARCHAR" />
    <result column="DetectStartIP" property="detectStartIP" jdbcType="INTEGER" />
    <result column="DetectEndIP" property="detectEndIP" jdbcType="INTEGER" />
    <result column="DetectIPTotalNum" property="detectIPTotalNum" jdbcType="INTEGER" />
    <result column="DetectPortId" property="detectPortId" jdbcType="INTEGER" />
    <result column="DetectTaskType" property="detectTaskType" jdbcType="TINYINT" />
    <result column="DetectIsValid" property="detectIsValid" jdbcType="TINYINT" />
    <result column="DetectFileName" property="detectFileName" jdbcType="CHAR" />
    <result column="DetectIntervalTime" property="detectIntervalTime" jdbcType="INTEGER" />
    <result column="DetectAppProtocal" property="detectAppProtocal" jdbcType="INTEGER" />
    <result column="DetectFileNameDescribe" property="detectFileNameDescribe" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    DetectTaskId, DetectTaskDescribe, DetectTaskDomain, DetectStartIP, DetectEndIP, DetectIPTotalNum, 
    DetectPortId, DetectTaskType, DetectIsValid, DetectFileName, DetectIntervalTime, 
    DetectAppProtocal, DetectFileNameDescribe
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from detecttaskinfo
    where DetectTaskId = #{detectTaskId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from detecttaskinfo
    where DetectTaskId = #{detectTaskId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="edu.zstu.domain.DetectTaskInfo" >
    insert into detecttaskinfo (DetectTaskId, DetectTaskDescribe, 
      DetectTaskDomain, DetectStartIP, DetectEndIP, 
      DetectIPTotalNum, DetectPortId, DetectTaskType, 
      DetectIsValid, DetectFileName, DetectIntervalTime, 
      DetectAppProtocal, DetectFileNameDescribe
      )
    values (#{detectTaskId,jdbcType=INTEGER}, #{detectTaskDescribe,jdbcType=VARCHAR}, 
      #{detectTaskDomain,jdbcType=VARCHAR}, #{detectStartIP,jdbcType=INTEGER}, #{detectEndIP,jdbcType=INTEGER}, 
      #{detectIPTotalNum,jdbcType=INTEGER}, #{detectPortId,jdbcType=INTEGER}, #{detectTaskType,jdbcType=TINYINT}, 
      #{detectIsValid,jdbcType=TINYINT}, #{detectFileName,jdbcType=CHAR}, #{detectIntervalTime,jdbcType=INTEGER}, 
      #{detectAppProtocal,jdbcType=INTEGER}, #{detectFileNameDescribe,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="edu.zstu.domain.DetectTaskInfo" >
    insert into detecttaskinfo
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="detectTaskId != null" >
        DetectTaskId,
      </if>
      <if test="detectTaskDescribe != null" >
        DetectTaskDescribe,
      </if>
      <if test="detectTaskDomain != null" >
        DetectTaskDomain,
      </if>
      <if test="detectStartIP != null" >
        DetectStartIP,
      </if>
      <if test="detectEndIP != null" >
        DetectEndIP,
      </if>
      <if test="detectIPTotalNum != null" >
        DetectIPTotalNum,
      </if>
      <if test="detectPortId != null" >
        DetectPortId,
      </if>
      <if test="detectTaskType != null" >
        DetectTaskType,
      </if>
      <if test="detectIsValid != null" >
        DetectIsValid,
      </if>
      <if test="detectFileName != null" >
        DetectFileName,
      </if>
      <if test="detectIntervalTime != null" >
        DetectIntervalTime,
      </if>
      <if test="detectAppProtocal != null" >
        DetectAppProtocal,
      </if>
      <if test="detectFileNameDescribe != null" >
        DetectFileNameDescribe,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="detectTaskId != null" >
        #{detectTaskId,jdbcType=INTEGER},
      </if>
      <if test="detectTaskDescribe != null" >
        #{detectTaskDescribe,jdbcType=VARCHAR},
      </if>
      <if test="detectTaskDomain != null" >
        #{detectTaskDomain,jdbcType=VARCHAR},
      </if>
      <if test="detectStartIP != null" >
        #{detectStartIP,jdbcType=INTEGER},
      </if>
      <if test="detectEndIP != null" >
        #{detectEndIP,jdbcType=INTEGER},
      </if>
      <if test="detectIPTotalNum != null" >
        #{detectIPTotalNum,jdbcType=INTEGER},
      </if>
      <if test="detectPortId != null" >
        #{detectPortId,jdbcType=INTEGER},
      </if>
      <if test="detectTaskType != null" >
        #{detectTaskType,jdbcType=TINYINT},
      </if>
      <if test="detectIsValid != null" >
        #{detectIsValid,jdbcType=TINYINT},
      </if>
      <if test="detectFileName != null" >
        #{detectFileName,jdbcType=CHAR},
      </if>
      <if test="detectIntervalTime != null" >
        #{detectIntervalTime,jdbcType=INTEGER},
      </if>
      <if test="detectAppProtocal != null" >
        #{detectAppProtocal,jdbcType=INTEGER},
      </if>
      <if test="detectFileNameDescribe != null" >
        #{detectFileNameDescribe,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="edu.zstu.domain.DetectTaskInfo" >
    update detecttaskinfo
    <set >
      <if test="detectTaskDescribe != null" >
        DetectTaskDescribe = #{detectTaskDescribe,jdbcType=VARCHAR},
      </if>
      <if test="detectTaskDomain != null" >
        DetectTaskDomain = #{detectTaskDomain,jdbcType=VARCHAR},
      </if>
      <if test="detectStartIP != null" >
        DetectStartIP = #{detectStartIP,jdbcType=INTEGER},
      </if>
      <if test="detectEndIP != null" >
        DetectEndIP = #{detectEndIP,jdbcType=INTEGER},
      </if>
      <if test="detectIPTotalNum != null" >
        DetectIPTotalNum = #{detectIPTotalNum,jdbcType=INTEGER},
      </if>
      <if test="detectPortId != null" >
        DetectPortId = #{detectPortId,jdbcType=INTEGER},
      </if>
      <if test="detectTaskType != null" >
        DetectTaskType = #{detectTaskType,jdbcType=TINYINT},
      </if>
      <if test="detectIsValid != null" >
        DetectIsValid = #{detectIsValid,jdbcType=TINYINT},
      </if>
      <if test="detectFileName != null" >
        DetectFileName = #{detectFileName,jdbcType=CHAR},
      </if>
      <if test="detectIntervalTime != null" >
        DetectIntervalTime = #{detectIntervalTime,jdbcType=INTEGER},
      </if>
      <if test="detectAppProtocal != null" >
        DetectAppProtocal = #{detectAppProtocal,jdbcType=INTEGER},
      </if>
      <if test="detectFileNameDescribe != null" >
        DetectFileNameDescribe = #{detectFileNameDescribe,jdbcType=VARCHAR},
      </if>
    </set>
    where DetectTaskId = #{detectTaskId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="edu.zstu.domain.DetectTaskInfo" >
    update detecttaskinfo
    set DetectTaskDescribe = #{detectTaskDescribe,jdbcType=VARCHAR},
      DetectTaskDomain = #{detectTaskDomain,jdbcType=VARCHAR},
      DetectStartIP = #{detectStartIP,jdbcType=INTEGER},
      DetectEndIP = #{detectEndIP,jdbcType=INTEGER},
      DetectIPTotalNum = #{detectIPTotalNum,jdbcType=INTEGER},
      DetectPortId = #{detectPortId,jdbcType=INTEGER},
      DetectTaskType = #{detectTaskType,jdbcType=TINYINT},
      DetectIsValid = #{detectIsValid,jdbcType=TINYINT},
      DetectFileName = #{detectFileName,jdbcType=CHAR},
      DetectIntervalTime = #{detectIntervalTime,jdbcType=INTEGER},
      DetectAppProtocal = #{detectAppProtocal,jdbcType=INTEGER},
      DetectFileNameDescribe = #{detectFileNameDescribe,jdbcType=VARCHAR}
    where DetectTaskId = #{detectTaskId,jdbcType=INTEGER}
  </update>
</mapper>