<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.zstu.dao.DeviceInfoMapper" >
  <resultMap id="BaseResultMap" type="edu.zstu.domain.DeviceInfo" >
    <id column="DeviceId" property="deviceId" jdbcType="INTEGER" />
    <result column="DeviceDescribe" property="deviceDescribe" jdbcType="VARCHAR" />
    <result column="DeviceGroupId" property="deviceGroupId" jdbcType="INTEGER" />
    <result column="NormalStartIP" property="normalStartIP" jdbcType="INTEGER" />
    <result column="NormalEndIP" property="normalEndIP" jdbcType="INTEGER" />
    <result column="NormalDetectRollCode" property="normalDetectRollCode" jdbcType="INTEGER" />
    <result column="DeviceBeatInfo" property="deviceBeatInfo" jdbcType="INTEGER" />
    <result column="CurrentRunStatus" property="currentRunStatus" jdbcType="INTEGER" />
    <result column="SpecialDetectStartTime" property="specialDetectStartTime" jdbcType="INTEGER" />
    <result column="SpecialDetectRollCode" property="specialDetectRollCode" jdbcType="INTEGER" />
    <result column="SpecialDetectRate" property="specialDetectRate" jdbcType="INTEGER" />
    <result column="LastSpecialDetectTotalTime" property="lastSpecialDetectTotalTime" jdbcType="INTEGER" />
    <result column="DeviceCtrlCmd" property="deviceCtrlCmd" jdbcType="TINYINT" />
    <result column="NetWorkGroupId" property="netWorkGroupId" jdbcType="TINYINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    DeviceId, DeviceDescribe, DeviceGroupId, NormalStartIP, NormalEndIP, NormalDetectRollCode, 
    DeviceBeatInfo, CurrentRunStatus, SpecialDetectStartTime, SpecialDetectRollCode, 
    SpecialDetectRate, LastSpecialDetectTotalTime, DeviceCtrlCmd, NetWorkGroupId
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from deviceinfo
    where DeviceId = #{deviceId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from deviceinfo
    where DeviceId = #{deviceId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="edu.zstu.domain.DeviceInfo" >
    insert into deviceinfo (DeviceId, DeviceDescribe, DeviceGroupId, 
      NormalStartIP, NormalEndIP, NormalDetectRollCode, 
      DeviceBeatInfo, CurrentRunStatus, SpecialDetectStartTime, 
      SpecialDetectRollCode, SpecialDetectRate, 
      LastSpecialDetectTotalTime, DeviceCtrlCmd, 
      NetWorkGroupId)
    values (#{deviceId,jdbcType=INTEGER}, #{deviceDescribe,jdbcType=VARCHAR}, #{deviceGroupId,jdbcType=INTEGER}, 
      #{normalStartIP,jdbcType=INTEGER}, #{normalEndIP,jdbcType=INTEGER}, #{normalDetectRollCode,jdbcType=INTEGER}, 
      #{deviceBeatInfo,jdbcType=INTEGER}, #{currentRunStatus,jdbcType=INTEGER}, #{specialDetectStartTime,jdbcType=INTEGER}, 
      #{specialDetectRollCode,jdbcType=INTEGER}, #{specialDetectRate,jdbcType=INTEGER}, 
      #{lastSpecialDetectTotalTime,jdbcType=INTEGER}, #{deviceCtrlCmd,jdbcType=TINYINT}, 
      #{netWorkGroupId,jdbcType=TINYINT})
  </insert>
  <insert id="insertSelective" parameterType="edu.zstu.domain.DeviceInfo" >
    insert into deviceinfo
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="deviceId != null" >
        DeviceId,
      </if>
      <if test="deviceDescribe != null" >
        DeviceDescribe,
      </if>
      <if test="deviceGroupId != null" >
        DeviceGroupId,
      </if>
      <if test="normalStartIP != null" >
        NormalStartIP,
      </if>
      <if test="normalEndIP != null" >
        NormalEndIP,
      </if>
      <if test="normalDetectRollCode != null" >
        NormalDetectRollCode,
      </if>
      <if test="deviceBeatInfo != null" >
        DeviceBeatInfo,
      </if>
      <if test="currentRunStatus != null" >
        CurrentRunStatus,
      </if>
      <if test="specialDetectStartTime != null" >
        SpecialDetectStartTime,
      </if>
      <if test="specialDetectRollCode != null" >
        SpecialDetectRollCode,
      </if>
      <if test="specialDetectRate != null" >
        SpecialDetectRate,
      </if>
      <if test="lastSpecialDetectTotalTime != null" >
        LastSpecialDetectTotalTime,
      </if>
      <if test="deviceCtrlCmd != null" >
        DeviceCtrlCmd,
      </if>
      <if test="netWorkGroupId != null" >
        NetWorkGroupId,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="deviceId != null" >
        #{deviceId,jdbcType=INTEGER},
      </if>
      <if test="deviceDescribe != null" >
        #{deviceDescribe,jdbcType=VARCHAR},
      </if>
      <if test="deviceGroupId != null" >
        #{deviceGroupId,jdbcType=INTEGER},
      </if>
      <if test="normalStartIP != null" >
        #{normalStartIP,jdbcType=INTEGER},
      </if>
      <if test="normalEndIP != null" >
        #{normalEndIP,jdbcType=INTEGER},
      </if>
      <if test="normalDetectRollCode != null" >
        #{normalDetectRollCode,jdbcType=INTEGER},
      </if>
      <if test="deviceBeatInfo != null" >
        #{deviceBeatInfo,jdbcType=INTEGER},
      </if>
      <if test="currentRunStatus != null" >
        #{currentRunStatus,jdbcType=INTEGER},
      </if>
      <if test="specialDetectStartTime != null" >
        #{specialDetectStartTime,jdbcType=INTEGER},
      </if>
      <if test="specialDetectRollCode != null" >
        #{specialDetectRollCode,jdbcType=INTEGER},
      </if>
      <if test="specialDetectRate != null" >
        #{specialDetectRate,jdbcType=INTEGER},
      </if>
      <if test="lastSpecialDetectTotalTime != null" >
        #{lastSpecialDetectTotalTime,jdbcType=INTEGER},
      </if>
      <if test="deviceCtrlCmd != null" >
        #{deviceCtrlCmd,jdbcType=TINYINT},
      </if>
      <if test="netWorkGroupId != null" >
        #{netWorkGroupId,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="edu.zstu.domain.DeviceInfo" >
    update deviceinfo
    <set >
      <if test="deviceDescribe != null" >
        DeviceDescribe = #{deviceDescribe,jdbcType=VARCHAR},
      </if>
      <if test="deviceGroupId != null" >
        DeviceGroupId = #{deviceGroupId,jdbcType=INTEGER},
      </if>
      <if test="normalStartIP != null" >
        NormalStartIP = #{normalStartIP,jdbcType=INTEGER},
      </if>
      <if test="normalEndIP != null" >
        NormalEndIP = #{normalEndIP,jdbcType=INTEGER},
      </if>
      <if test="normalDetectRollCode != null" >
        NormalDetectRollCode = #{normalDetectRollCode,jdbcType=INTEGER},
      </if>
      <if test="deviceBeatInfo != null" >
        DeviceBeatInfo = #{deviceBeatInfo,jdbcType=INTEGER},
      </if>
      <if test="currentRunStatus != null" >
        CurrentRunStatus = #{currentRunStatus,jdbcType=INTEGER},
      </if>
      <if test="specialDetectStartTime != null" >
        SpecialDetectStartTime = #{specialDetectStartTime,jdbcType=INTEGER},
      </if>
      <if test="specialDetectRollCode != null" >
        SpecialDetectRollCode = #{specialDetectRollCode,jdbcType=INTEGER},
      </if>
      <if test="specialDetectRate != null" >
        SpecialDetectRate = #{specialDetectRate,jdbcType=INTEGER},
      </if>
      <if test="lastSpecialDetectTotalTime != null" >
        LastSpecialDetectTotalTime = #{lastSpecialDetectTotalTime,jdbcType=INTEGER},
      </if>
      <if test="deviceCtrlCmd != null" >
        DeviceCtrlCmd = #{deviceCtrlCmd,jdbcType=TINYINT},
      </if>
      <if test="netWorkGroupId != null" >
        NetWorkGroupId = #{netWorkGroupId,jdbcType=TINYINT},
      </if>
    </set>
    where DeviceId = #{deviceId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="edu.zstu.domain.DeviceInfo" >
    update deviceinfo
    set DeviceDescribe = #{deviceDescribe,jdbcType=VARCHAR},
      DeviceGroupId = #{deviceGroupId,jdbcType=INTEGER},
      NormalStartIP = #{normalStartIP,jdbcType=INTEGER},
      NormalEndIP = #{normalEndIP,jdbcType=INTEGER},
      NormalDetectRollCode = #{normalDetectRollCode,jdbcType=INTEGER},
      DeviceBeatInfo = #{deviceBeatInfo,jdbcType=INTEGER},
      CurrentRunStatus = #{currentRunStatus,jdbcType=INTEGER},
      SpecialDetectStartTime = #{specialDetectStartTime,jdbcType=INTEGER},
      SpecialDetectRollCode = #{specialDetectRollCode,jdbcType=INTEGER},
      SpecialDetectRate = #{specialDetectRate,jdbcType=INTEGER},
      LastSpecialDetectTotalTime = #{lastSpecialDetectTotalTime,jdbcType=INTEGER},
      DeviceCtrlCmd = #{deviceCtrlCmd,jdbcType=TINYINT},
      NetWorkGroupId = #{netWorkGroupId,jdbcType=TINYINT}
    where DeviceId = #{deviceId,jdbcType=INTEGER}
  </update>
</mapper>