<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.zstu.dao.IPAddressMapper" >
  <resultMap id="BaseResultMap" type="edu.zstu.domain.IPAddress" >
    <id column="Id" property="id" jdbcType="INTEGER" />
    <result column="IPStart" property="IPStart" jdbcType="BIGINT" />
    <result column="IPEnd" property="IPEnd" jdbcType="BIGINT" />
    <result column="IPEnglish" property="IPEnglish" jdbcType="CHAR" />
    <result column="IPChina" property="IPChina" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    Id, IPStart, IPEnd, IPEnglish, IPChina
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from ipaddress
    where Id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from ipaddress
    where Id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="edu.zstu.domain.IPAddress" >
    insert into ipaddress (Id, IPStart, IPEnd, 
      IPEnglish, IPChina)
    values (#{id,jdbcType=INTEGER}, #{IPStart,jdbcType=BIGINT}, #{IPEnd,jdbcType=BIGINT}, 
      #{IPEnglish,jdbcType=CHAR}, #{IPChina,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="edu.zstu.domain.IPAddress" >
    insert into ipaddress
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        Id,
      </if>
      <if test="IPStart != null" >
        IPStart,
      </if>
      <if test="IPEnd != null" >
        IPEnd,
      </if>
      <if test="IPEnglish != null" >
        IPEnglish,
      </if>
      <if test="IPChina != null" >
        IPChina,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="IPStart != null" >
        #{IPStart,jdbcType=BIGINT},
      </if>
      <if test="IPEnd != null" >
        #{IPEnd,jdbcType=BIGINT},
      </if>
      <if test="IPEnglish != null" >
        #{IPEnglish,jdbcType=CHAR},
      </if>
      <if test="IPChina != null" >
        #{IPChina,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="edu.zstu.domain.IPAddress" >
    update ipaddress
    <set >
      <if test="IPStart != null" >
        IPStart = #{IPStart,jdbcType=BIGINT},
      </if>
      <if test="IPEnd != null" >
        IPEnd = #{IPEnd,jdbcType=BIGINT},
      </if>
      <if test="IPEnglish != null" >
        IPEnglish = #{IPEnglish,jdbcType=CHAR},
      </if>
      <if test="IPChina != null" >
        IPChina = #{IPChina,jdbcType=VARCHAR},
      </if>
    </set>
    where Id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="edu.zstu.domain.IPAddress" >
    update ipaddress
    set IPStart = #{IPStart,jdbcType=BIGINT},
      IPEnd = #{IPEnd,jdbcType=BIGINT},
      IPEnglish = #{IPEnglish,jdbcType=CHAR},
      IPChina = #{IPChina,jdbcType=VARCHAR}
    where Id = #{id,jdbcType=INTEGER}
  </update>
</mapper>