<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.zstu.dao.IPAddrLibMapper" >
  <resultMap id="BaseResultMap" type="edu.zstu.domain.IPAddrLib" >
    <result column="ip_start" property="ip_start" jdbcType="VARCHAR" />
    <result column="ip_end" property="ip_end" jdbcType="VARCHAR" />
    <result column="ip_start_num" property="ip_start_num" jdbcType="BIGINT" />
    <result column="ip_end_num" property="ip_end_num" jdbcType="BIGINT" />
    <result column="continent" property="continent" jdbcType="VARCHAR" />
    <result column="country" property="country" jdbcType="VARCHAR" />
    <result column="province" property="province" jdbcType="VARCHAR" />
    <result column="city" property="city" jdbcType="VARCHAR" />
    <result column="district" property="district" jdbcType="VARCHAR" />
    <result column="isp" property="isp" jdbcType="VARCHAR" />
    <result column="area_code" property="area_code" jdbcType="VARCHAR" />
    <result column="country_english" property="country_english" jdbcType="VARCHAR" />
    <result column="country_code" property="country_code" jdbcType="VARCHAR" />
    <result column="longitude" property="longitude" jdbcType="VARCHAR" />
    <result column="latitude" property="latitude" jdbcType="VARCHAR" />
  </resultMap>
  <insert id="insert" parameterType="edu.zstu.domain.IPAddrLib" >
    insert into ipaddrlib (ip_start, ip_end, ip_start_num, 
      ip_end_num, continent, country, 
      province, city, district, 
      isp, area_code, country_english, 
      country_code, longitude, latitude
      )
    values (#{ip_start,jdbcType=VARCHAR}, #{ip_end,jdbcType=VARCHAR}, #{ip_start_num,jdbcType=BIGINT}, 
      #{ip_end_num,jdbcType=BIGINT}, #{continent,jdbcType=VARCHAR}, #{country,jdbcType=VARCHAR}, 
      #{province,jdbcType=VARCHAR}, #{city,jdbcType=VARCHAR}, #{district,jdbcType=VARCHAR}, 
      #{isp,jdbcType=VARCHAR}, #{area_code,jdbcType=VARCHAR}, #{country_english,jdbcType=VARCHAR}, 
      #{country_code,jdbcType=VARCHAR}, #{longitude,jdbcType=VARCHAR}, #{latitude,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="edu.zstu.domain.IPAddrLib" >
    insert into ipaddrlib
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="ip_start != null" >
        ip_start,
      </if>
      <if test="ip_end != null" >
        ip_end,
      </if>
      <if test="ip_start_num != null" >
        ip_start_num,
      </if>
      <if test="ip_end_num != null" >
        ip_end_num,
      </if>
      <if test="continent != null" >
        continent,
      </if>
      <if test="country != null" >
        country,
      </if>
      <if test="province != null" >
        province,
      </if>
      <if test="city != null" >
        city,
      </if>
      <if test="district != null" >
        district,
      </if>
      <if test="isp != null" >
        isp,
      </if>
      <if test="area_code != null" >
        area_code,
      </if>
      <if test="country_english != null" >
        country_english,
      </if>
      <if test="country_code != null" >
        country_code,
      </if>
      <if test="longitude != null" >
        longitude,
      </if>
      <if test="latitude != null" >
        latitude,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="ip_start != null" >
        #{ip_start,jdbcType=VARCHAR},
      </if>
      <if test="ip_end != null" >
        #{ip_end,jdbcType=VARCHAR},
      </if>
      <if test="ip_start_num != null" >
        #{ip_start_num,jdbcType=BIGINT},
      </if>
      <if test="ip_end_num != null" >
        #{ip_end_num,jdbcType=BIGINT},
      </if>
      <if test="continent != null" >
        #{continent,jdbcType=VARCHAR},
      </if>
      <if test="country != null" >
        #{country,jdbcType=VARCHAR},
      </if>
      <if test="province != null" >
        #{province,jdbcType=VARCHAR},
      </if>
      <if test="city != null" >
        #{city,jdbcType=VARCHAR},
      </if>
      <if test="district != null" >
        #{district,jdbcType=VARCHAR},
      </if>
      <if test="isp != null" >
        #{isp,jdbcType=VARCHAR},
      </if>
      <if test="area_code != null" >
        #{area_code,jdbcType=VARCHAR},
      </if>
      <if test="country_english != null" >
        #{country_english,jdbcType=VARCHAR},
      </if>
      <if test="country_code != null" >
        #{country_code,jdbcType=VARCHAR},
      </if>
      <if test="longitude != null" >
        #{longitude,jdbcType=VARCHAR},
      </if>
      <if test="latitude != null" >
        #{latitude,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>