<!DOCTYPE html>
<html>
<head>
    <meta charset=utf-8>
    <meta name=viewport content="width=device-width,initial-scale=1">
    <title>vue-detect</title>
</head>
<body>
<div id=app></div>
<script type=text/javascript src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript">
    $.ajax({
        url: "/user/login",
        method: "get",
        dataType: "json",
        success: function (result) {
            alert(result)
        },
        error: function (err) {
            console.log('error happened in selecting model:' + err.statusText);
        }
    })
</script>
</body>
</html>